<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<link rel="stylesheet" href="styles.css" />
			<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Raleway:400,500,800i" rel="stylesheet">
			<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		</head>
		<body>
			<div id="main-container">
			<h1>Wikipedia Search</h1>

				<h1 id="random-article">Hello! Click <a id="random-article-link" href="https://en.wikipedia.org/wiki/Special:Random"><span>here</a></span> for a random article.</h1>
				<input id="search" placeholder="Search"><br><br>
				<i class="fa fa-arrow-up fa-3x" aria-hidden="true"></i>
				<h2>Or make a search above.</h2>
				<h3 id="credit">By Tony Nguyen</h3>
			</div>

			<a class="10">
			<div id="10" class="content hidden">
			</div></a>
			
			<a class="1">
			<div id="1" class="content hidden">
			</div>
			</a>

			<a class="2">
			<div id="2" class="content hidden">
			</div>
			</a>

			<a class="3">
			<div id="3" class="content hidden">
			</div></a>

			<a class="4">
			<div id="4" class="content hidden">
			</div></a>

			<a class="5">
			<div id="5" class="content hidden">
			</div></a>

			<a class="6">
			<div id="6" class="content hidden">
			</div></a>

			<a class="7">
			<div id="7" class="content hidden">
			</div></a>

			<a class="8">
			<div id="8" class="content hidden">
			</div></a>

			<a class="9">
			<div id="9" class="content hidden">
			</div></a>
		</body>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="search.js"></script>
</html>